
*{
    padding: 0;
    margin: 0;
    font-family: 'Baloo Bhaina 2', cursive;
    box-sizing: border-box;
}
li, a{
    cursor: pointer;
}


///////////////////////////////////
//scroll style
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}
::-webkit-scrollbar-track {
    background-color:#ecedee;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color:#5f94ff;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
::-webkit-scrollbar{
    width: 4px;
}
//
///////////////////////////////////


body{
    header{
        background-image: url(../assets/img/HeaderBG.png);
        background-size: 100% 100vh;
        height: 100vh;
        padding: 0px 50px;
        .header-wrap{
            padding-top: 40px;
            margin: 0 auto;
            max-width: 1300px;
            .header__nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .header__nav__navbar{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 500;
    
                        margin-left: 50px;
                    }
                    a:first-child{
                        margin-left: 0px;
                    }
                    .btn_nav{
                        width: 150px;
                        height: 42px;
                        box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
                        border-radius: 21px;
                        border: none;
                        color: #ff4b64;
                        background-color: #ffffff;

                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 3px;
                        line-height: 45px;
    
                        margin-left: 50px;

                        transition-delay: .2s;
                        transition: .3s;
                    }
                    .btn_nav:hover{
                        color: #ffffff;
                        background-color: #5f94ff;
                    }
                }
            }
            .header__sup{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .header__sup__column{
                    .img-wrap{
                        .device-img{
                            width: 850px;
                        }
                    }
                    .header__sup__column__title{
                        padding-left: 50px;
                        .title__one{
                            color: #ffffff;
                            font-size: 45px;
                            font-weight: 300;
                            line-height: 54px;
                        }
                        .title__two{
                            color: #ffffff;
                            font-size: 80px;
                            font-weight: 700;
                            line-height: 80px;
                            margin-top: 20px;

                            position: relative;
                        }
                        .title__two::before{
                            display: block;
                            content: "";

                            width: 80px;
                            height: 10px;
                            border-radius: 5px;
                            background-color: #ffca2a;
                            top: 25px;
                            left: -100px;

                            position: absolute;
                        }
                        .title__btn{
                            color: #ff4b64;
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;

                            width: 240px;
                            height: 60px;
                            box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
                            border: none;
                            border-radius: 30px;
                            background-color: #ffffff;
                            margin-top: 45px;

                            line-height: 65px;

                            position: relative;

                            transition-delay: .2s;
                            transition: .3s;
                        }
                        .title__btn::after{
                            display: block;
                            content: "";
                            width: 40px;
                            height: 10px;
                            border-radius: 5px;
                            background-color: #5f94ff;

                            top: 25px;
                            left: 300px;

                            position: absolute;
                        }
                        .title__btn:hover{
                            color: #ffffff;
                            background-color: #5f94ff;
                        }
                        .title__three{
                            opacity: .5;
                            color: #ffffff;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 54px;

                            margin-top: 10px;
                        }
                    }
                }
            }
        } 
    }
    .main{
        padding-top: 20px;
        margin: 0 auto;
        max-width: 1300px;
        .main-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            .slider-wrap{
                display: flex;
                margin-bottom: 40px;
                .slider-tab{
                    margin: 0 15px;
                    width: 40px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: #ff4b64;

                    transition: .3s;
                    transition-delay: .1s;
                }
                .slider-tab:hover{
                    width: 150px;
                    border-radius: 5px;
                    background-color: #5f94ff;
                }
            }
            .main-title{
                position: relative;
                .main-title-sup{
                    color: #000000;
                    font-size: 50px;
                    font-weight: 700;
                    text-align: center;
                }
                .main-title-sub{
                    color: #918f89;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                }
                .img_layer{
                    position: absolute;
                    width: 400px;

                    left: 700px;
                    top: -180px;

                    z-index: 1;
                }
            }
            .logo-studio-wrap{
                display: flex;
                align-items: center;
                margin-top: 80px;
                z-index: 2;
                a{
                    margin-right: 100px;
                }
                a:last-child{
                    margin-right: 0px;
                }
            }
            .title-list-wrap{
                margin-top: 80px;
                display: flex;
                justify-content: space-between;
                width: 1250px;
                .list-column{
                    list-style: none;
                    li{
                        font-size: 17px;
                        font-weight: 400;
                        margin-bottom: 25px;
                        img{
                            margin-right: 10px;
                        }
                        span{
                            font-weight: 700;
                        }
                    }
                    li:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .title-btn{
                margin-top: 80px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 10px 40px;
                background-color: #5f94ff;
                border: none;
                border-radius: 40px;
            } 
            .title-btn-text{
                margin-top: 28px;
                color: #d7d4cd;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .more-wrap{
        .slider-wrap{
            display: flex;
            justify-content: center;
            margin: 40px auto;
            .slider-tab{
                margin: 0 15px;
                width: 40px;
                height: 10px;
                border-radius: 5px;
                background-color: #5f94ff;

                transition: .3s;
                transition-delay: .1s;
            }
            .slider-tab:hover{
                width: 150px;
                border-radius: 5px;
                background-color: #9ecb45;
            }
        }
        .more__icon__title{
            text-align: center;
            margin-bottom: 40px;
            .title__one{
                color: #000000;
                font-size: 50px;
                font-weight: 700;
            }
            .title__two{
                color: #918f89;
                font-size: 20px;
                font-weight: 500;
            }
        }
        .more__icon__wrap{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 110px;
            .icon__wrap{
                padding: 30px 60px;
                margin: 5px 40px;
               
                display: flex;
                justify-content: space-around;
                flex-direction: column;

                border-bottom: 4px solid #ff7a8c;
                border-radius: 3px;
                border-top: 4px solid transparent;
                box-sizing: border-box;

                transition-delay: .2s;
                transition: .3s;
                .icon{
                    width: 50px;
                }
                .icon__title{
                    margin-top: 15px;
                    color: #c9c6bf;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;

                    text-align: center;

                    transition-delay: .2s;
                    transition: .3s;
                }
            }
            .icon__wrap:hover{
                background-color: #d7e5ff;
                border-bottom: 4px solid #7a9dff;
                border-top: 4px solid #ff7a8c;
            }
            .icon__wrap:hover .icon__title{
                color: #141414;
            }
        }
    }
    .products__wrap{
        background-image: url(../assets/img/bg_products.png);
        background-size: 100% 100vh;
        height: 100vh;
        padding: 150px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .products__wrap__container{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            position: relative;
            .img__layer_two{
                position: absolute;
                width: 280px;
                z-index: 2;
                bottom: 350px;
                right: 100px;
            }
            .product__img__wrap{
                margin: 5px;
                position: relative;
                .product__img{
                    border: 15px solid transparent;
                    transition-delay: .2s;
                    transition: .3s;
                }
                .play__icon{
                    position: absolute;
                    width: 90px;
                    z-index: 2;
                    top: 280px;
                    right: 0px;

                    display: none;

                    transition-delay: .2s;
                    transition: .3s;
                }
                .product__img:hover{
                    border: 15px solid #ff4b64;
                    box-shadow: 1px 1px 15px rgb(104, 104, 104);
                }
                .product__img:hover + .play__icon{
                    display: block;
                }
                .product__img:active{
                    border: 15px solid rgb(79, 218, 15);
                    box-shadow: 1px 1px 10px rgb(56, 56, 56);
                }
            }
        }
        .device__active__wrap{
            margin-top: 150px;
            .content__container{
                display: flex;
                justify-content: center;
                .device_icon-wrap{
                    .device-icon{
                        width: 200px;
                    }
                }
                .device-title-wrap{
                    margin-left: 30px;
                    position: relative;
                    h2{
                        color: #000000;
                        font-size: 50px;
                        font-weight: 700;
                        line-height: 50px;
                    }
                    h2::after{
                        display: block;
                        content: "";
                        width: 80px;
                        height: 10px;
                        border-radius: 5px;
                        background-color: #fb4a62;

                        top: 15px;
                        left: 400px;

                        position: absolute;
                    }
                    h4{
                        color: #918f89;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 40px;
                    }
                    h4::after{
                        display: block;
                        content: "";
                        width: 40px;
                        height: 10px;
                        border-radius: 5px;
                        background-color: #ffca2a;

                        top: 145px;

                        position: absolute;
                    }
                }
            }
        }
    }
    .btn_trial_wrap{
        margin-top: 60px;
        .btn-container{
            margin: 0 auto;
            width: 360px;
            .btn-trial{
                padding: 6px 20px 4px 20px;
                text-align: center;
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
                border-radius: 50px;
                background-color: #9ecb45;
                transition-delay: .2s;
                transition: .3s;
            }
            .btn-trial:hover{
                color: #ffffff;
                background-color: #5f94ff;
            }
            .btn-trial-text{
                text-align: center;
                margin-top: 30px;
                color: #d7d4cd;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .footer__wrap{
        background-image: url(../assets/img/bg_footer.png);
        background-size: 100% 100%;
        height: 100%;
        margin-top: 100px;
        padding: 125px 50px 25px 50px; 

        position: relative;
        .img__layer__three{
            position: absolute;
            width: 300px;
            top: -200px;
            left: 180px;
        }
        .container__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .footer__nav{
                /* list-style: none; */
                display: flex;
                justify-content: center;
                li{
                    margin-right: 30px;
                    color: #ffb4bc;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 54px;

                    transition-delay: .2s;
                    transition: .3s;
                }
                li:hover{
                    color: #fff;
                }
                li:last-child{
                    margin-right: 0;
                }
            }
            .footer_logo{
                width: 215px;
                margin: 45px auto 25px auto;
            }
            .footer_text{
                color: #ffb4bc;
                font-size: 12px;
                font-weight: 500;
                line-height: 54px;
            }
        }
    }
}