* {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Bhaina 2', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li, a {
  cursor: pointer;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #5f94ff;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

body header {
  background-image: url(../assets/img/HeaderBG.png);
  background-size: 100% 100vh;
  height: 100vh;
  padding: 0px 50px;
}

body header .header-wrap {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1300px;
}

body header .header-wrap .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-wrap .header__nav .header__nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-wrap .header__nav .header__nav__navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 50px;
}

body header .header-wrap .header__nav .header__nav__navbar a:first-child {
  margin-left: 0px;
}

body header .header-wrap .header__nav .header__nav__navbar .btn_nav {
  width: 150px;
  height: 42px;
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 21px;
  border: none;
  color: #ff4b64;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 45px;
  margin-left: 50px;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .header-wrap .header__nav .header__nav__navbar .btn_nav:hover {
  color: #ffffff;
  background-color: #5f94ff;
}

body header .header-wrap .header__sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-wrap .header__sup .header__sup__column .img-wrap .device-img {
  width: 850px;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title {
  padding-left: 50px;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title .title__one {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 54px;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title .title__two {
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin-top: 20px;
  position: relative;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title .title__two::before {
  display: block;
  content: "";
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffca2a;
  top: 25px;
  left: -100px;
  position: absolute;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title .title__btn {
  color: #ff4b64;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  width: 240px;
  height: 60px;
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 30px;
  background-color: #ffffff;
  margin-top: 45px;
  line-height: 65px;
  position: relative;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title .title__btn::after {
  display: block;
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #5f94ff;
  top: 25px;
  left: 300px;
  position: absolute;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title .title__btn:hover {
  color: #ffffff;
  background-color: #5f94ff;
}

body header .header-wrap .header__sup .header__sup__column .header__sup__column__title .title__three {
  opacity: .5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 54px;
  margin-top: 10px;
}

body .main {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1300px;
}

body .main .main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main-wrap .slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

body .main .main-wrap .slider-wrap .slider-tab {
  margin: 0 15px;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff4b64;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

body .main .main-wrap .slider-wrap .slider-tab:hover {
  width: 150px;
  border-radius: 5px;
  background-color: #5f94ff;
}

body .main .main-wrap .main-title {
  position: relative;
}

body .main .main-wrap .main-title .main-title-sup {
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

body .main .main-wrap .main-title .main-title-sub {
  color: #918f89;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

body .main .main-wrap .main-title .img_layer {
  position: absolute;
  width: 400px;
  left: 700px;
  top: -180px;
  z-index: 1;
}

body .main .main-wrap .logo-studio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  z-index: 2;
}

body .main .main-wrap .logo-studio-wrap a {
  margin-right: 100px;
}

body .main .main-wrap .logo-studio-wrap a:last-child {
  margin-right: 0px;
}

body .main .main-wrap .title-list-wrap {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1250px;
}

body .main .main-wrap .title-list-wrap .list-column {
  list-style: none;
}

body .main .main-wrap .title-list-wrap .list-column li {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 25px;
}

body .main .main-wrap .title-list-wrap .list-column li img {
  margin-right: 10px;
}

body .main .main-wrap .title-list-wrap .list-column li span {
  font-weight: 700;
}

body .main .main-wrap .title-list-wrap .list-column li:last-child {
  margin-bottom: 0;
}

body .main .main-wrap .title-btn {
  margin-top: 80px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: #5f94ff;
  border: none;
  border-radius: 40px;
}

body .main .main-wrap .title-btn-text {
  margin-top: 28px;
  color: #d7d4cd;
  font-size: 14px;
  font-weight: 500;
}

body .more-wrap .slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto;
}

body .more-wrap .slider-wrap .slider-tab {
  margin: 0 15px;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #5f94ff;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

body .more-wrap .slider-wrap .slider-tab:hover {
  width: 150px;
  border-radius: 5px;
  background-color: #9ecb45;
}

body .more-wrap .more__icon__title {
  text-align: center;
  margin-bottom: 40px;
}

body .more-wrap .more__icon__title .title__one {
  color: #000000;
  font-size: 50px;
  font-weight: 700;
}

body .more-wrap .more__icon__title .title__two {
  color: #918f89;
  font-size: 20px;
  font-weight: 500;
}

body .more-wrap .more__icon__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 110px;
}

body .more-wrap .more__icon__wrap .icon__wrap {
  padding: 30px 60px;
  margin: 5px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 4px solid #ff7a8c;
  border-radius: 3px;
  border-top: 4px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body .more-wrap .more__icon__wrap .icon__wrap .icon {
  width: 50px;
}

body .more-wrap .more__icon__wrap .icon__wrap .icon__title {
  margin-top: 15px;
  color: #c9c6bf;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body .more-wrap .more__icon__wrap .icon__wrap:hover {
  background-color: #d7e5ff;
  border-bottom: 4px solid #7a9dff;
  border-top: 4px solid #ff7a8c;
}

body .more-wrap .more__icon__wrap .icon__wrap:hover .icon__title {
  color: #141414;
}

body .products__wrap {
  background-image: url(../assets/img/bg_products.png);
  background-size: 100% 100vh;
  height: 100vh;
  padding: 150px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .products__wrap .products__wrap__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

body .products__wrap .products__wrap__container .img__layer_two {
  position: absolute;
  width: 280px;
  z-index: 2;
  bottom: 350px;
  right: 100px;
}

body .products__wrap .products__wrap__container .product__img__wrap {
  margin: 5px;
  position: relative;
}

body .products__wrap .products__wrap__container .product__img__wrap .product__img {
  border: 15px solid transparent;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body .products__wrap .products__wrap__container .product__img__wrap .play__icon {
  position: absolute;
  width: 90px;
  z-index: 2;
  top: 280px;
  right: 0px;
  display: none;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body .products__wrap .products__wrap__container .product__img__wrap .product__img:hover {
  border: 15px solid #ff4b64;
  -webkit-box-shadow: 1px 1px 15px #686868;
          box-shadow: 1px 1px 15px #686868;
}

body .products__wrap .products__wrap__container .product__img__wrap .product__img:hover + .play__icon {
  display: block;
}

body .products__wrap .products__wrap__container .product__img__wrap .product__img:active {
  border: 15px solid #4fda0f;
  -webkit-box-shadow: 1px 1px 10px #383838;
          box-shadow: 1px 1px 10px #383838;
}

body .products__wrap .device__active__wrap {
  margin-top: 150px;
}

body .products__wrap .device__active__wrap .content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .products__wrap .device__active__wrap .content__container .device_icon-wrap .device-icon {
  width: 200px;
}

body .products__wrap .device__active__wrap .content__container .device-title-wrap {
  margin-left: 30px;
  position: relative;
}

body .products__wrap .device__active__wrap .content__container .device-title-wrap h2 {
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

body .products__wrap .device__active__wrap .content__container .device-title-wrap h2::after {
  display: block;
  content: "";
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: #fb4a62;
  top: 15px;
  left: 400px;
  position: absolute;
}

body .products__wrap .device__active__wrap .content__container .device-title-wrap h4 {
  color: #918f89;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

body .products__wrap .device__active__wrap .content__container .device-title-wrap h4::after {
  display: block;
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffca2a;
  top: 145px;
  position: absolute;
}

body .btn_trial_wrap {
  margin-top: 60px;
}

body .btn_trial_wrap .btn-container {
  margin: 0 auto;
  width: 360px;
}

body .btn_trial_wrap .btn-container .btn-trial {
  padding: 6px 20px 4px 20px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  background-color: #9ecb45;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body .btn_trial_wrap .btn-container .btn-trial:hover {
  color: #ffffff;
  background-color: #5f94ff;
}

body .btn_trial_wrap .btn-container .btn-trial-text {
  text-align: center;
  margin-top: 30px;
  color: #d7d4cd;
  font-size: 14px;
  font-weight: 500;
}

body .footer__wrap {
  background-image: url(../assets/img/bg_footer.png);
  background-size: 100% 100%;
  height: 100%;
  margin-top: 100px;
  padding: 125px 50px 25px 50px;
  position: relative;
}

body .footer__wrap .img__layer__three {
  position: absolute;
  width: 300px;
  top: -200px;
  left: 180px;
}

body .footer__wrap .container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer__wrap .container__content .footer__nav {
  /* list-style: none; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .footer__wrap .container__content .footer__nav li {
  margin-right: 30px;
  color: #ffb4bc;
  font-size: 14px;
  font-weight: 500;
  line-height: 54px;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: .3s;
  transition: .3s;
}

body .footer__wrap .container__content .footer__nav li:hover {
  color: #fff;
}

body .footer__wrap .container__content .footer__nav li:last-child {
  margin-right: 0;
}

body .footer__wrap .container__content .footer_logo {
  width: 215px;
  margin: 45px auto 25px auto;
}

body .footer__wrap .container__content .footer_text {
  color: #ffb4bc;
  font-size: 12px;
  font-weight: 500;
  line-height: 54px;
}
/*# sourceMappingURL=style.css.map */